#header {
  min-height: 100vh;
}

#rocket {
  position: absolute;
  width: 12vw;
  top: 10vh;
  left: 44vw;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#rocket .fire {
  display: none;
}

#search {
  position: absolute;
  width: 50vw;
  top: 45vh;
  left: 25vw;
}

#search .form-control, #search .btn {
  height: 40px;
}

#suggestion {
  display: none;
  position: absolute;
  width: 50vw;
  top: 53vh;
  left: 25vw;
}

#suggestion span a {
  text-decoration: underline;
}

#result {
  display: none;
  margin: 15vh 25vw 5vh 25vw;
}

#result .result-link {
  font-size: 12px;
  color: #006621;
}

#header-next {
  position: absolute;
  width: 100vw;
  bottom: 5vh;
  text-align: center;
}

#header-next__arrow {
  font-size: 25px;
}

.btn-no-border, .btn-no-border:hover, .btn-no-border:focus {
  border: none;
  background-color: transparent;
}

#navbar .navbar-default {
  background-color: #fff;
  border-radius: 0;
  box-shadow: 0px 2px 5px #888888;
}

#navbar .navbar-collapse {
  padding-left: 15px;
  padding-right: 15px;
}

#navbar .navbar-default .navbar-toggle, #navbar .navbar-default .navbar-toggle:focus, #navbar .navbar-default .navbar-toggle:hover {
  background-color: #fff;
  border-color: #fff;
}

#navbar .navbar-default .navbar-collapse {
  border-color: #fff;
}

#header, #about, #projects, #experience, #skills {
  font-size: 16px;
  font-weight: 300;
}

#about, #projects, #experience, #skills {
  margin-bottom: 50px;
}

.gh-btn {
  background-color: #eee;
  background-image: -webkit-linear-gradient(top,#fcfcfc,#eee);
  background-image: linear-gradient(to bottom,#fcfcfc,#eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  padding: 5px 6px;
  color: #000;
  line-height: 26px;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
}

.gh-btn:hover, .gh-btn:focus {
  background-color: #ddd;
  background-image: -webkit-linear-gradient(top,#eee,#ddd);
  background-image: linear-gradient(to bottom,#eee,#ddd);
  border-color: #ccc;
  color: #000;
  text-decoration: none;
}

.gh-btn i {
  font-size: 16px;
}

.label {
  font-weight: 300;
}

.description {
  margin-top: 20px;
}

.img-xs-3 {
  float:left;
  width: 25%;
  padding: 0 1px;
}

h3, h3 small {
  font-weight: 300;
}

h2 a:hover, h2 a:focus {
  color: #337ab7;
  text-decoration: none;
}

.duration {
  margin: 20px 0 20px 0;
}

.single-skill {
  display: inline-block;
  float: left;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 6px 15px;
  margin: 0 10px 10px 0;
}

.single-skill img {
  height: 25px;
  max-width: 25px;
  vertical-align: middle;
  margin-right: 10px;
}

footer {
  margin: 10px auto 5px auto;
}

footer p {
  text-align: center;
  font-size: 9px;
}

footer [class^='icon-'] {
  margin: 0 5px;
  font-size: 20px;
  text-decoration: none;
}

.shake-horizontal {
  display: inline-block;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

@-webkit-keyframes shake-horizontal {
  2% {
    -webkit-transform: translate(-4px, 0) rotate(0);
            transform: translate(-4px, 0) rotate(0); }
  4% {
    -webkit-transform: translate(7px, 0) rotate(0);
            transform: translate(7px, 0) rotate(0); }
  6% {
    -webkit-transform: translate(-3px, 0) rotate(0);
            transform: translate(-3px, 0) rotate(0); }
  8% {
    -webkit-transform: translate(-7px, 0) rotate(0);
            transform: translate(-7px, 0) rotate(0); }
  10% {
    -webkit-transform: translate(3px, 0) rotate(0);
            transform: translate(3px, 0) rotate(0); }
  12% {
    -webkit-transform: translate(-9px, 0) rotate(0);
            transform: translate(-9px, 0) rotate(0); }
  14% {
    -webkit-transform: translate(-1px, 0) rotate(0);
            transform: translate(-1px, 0) rotate(0); }
  16% {
    -webkit-transform: translate(7px, 0) rotate(0);
            transform: translate(7px, 0) rotate(0); }
  18% {
    -webkit-transform: translate(-3px, 0) rotate(0);
            transform: translate(-3px, 0) rotate(0); }
  20% {
    -webkit-transform: translate(10px, 0) rotate(0);
            transform: translate(10px, 0) rotate(0); }
  22% {
    -webkit-transform: translate(8px, 0) rotate(0);
            transform: translate(8px, 0) rotate(0); }
  24% {
    -webkit-transform: translate(7px, 0) rotate(0);
            transform: translate(7px, 0) rotate(0); }
  26% {
    -webkit-transform: translate(4px, 0) rotate(0);
            transform: translate(4px, 0) rotate(0); }
  28% {
    -webkit-transform: translate(7px, 0) rotate(0);
            transform: translate(7px, 0) rotate(0); }
  30% {
    -webkit-transform: translate(9px, 0) rotate(0);
            transform: translate(9px, 0) rotate(0); }
  32% {
    -webkit-transform: translate(4px, 0) rotate(0);
            transform: translate(4px, 0) rotate(0); }
  34% {
    -webkit-transform: translate(2px, 0) rotate(0);
            transform: translate(2px, 0) rotate(0); }
  36% {
    -webkit-transform: translate(-2px, 0) rotate(0);
            transform: translate(-2px, 0) rotate(0); }
  38% {
    -webkit-transform: translate(-2px, 0) rotate(0);
            transform: translate(-2px, 0) rotate(0); }
  40% {
    -webkit-transform: translate(0px, 0) rotate(0);
            transform: translate(0px, 0) rotate(0); }
  42% {
    -webkit-transform: translate(-3px, 0) rotate(0);
            transform: translate(-3px, 0) rotate(0); }
  44% {
    -webkit-transform: translate(1px, 0) rotate(0);
            transform: translate(1px, 0) rotate(0); }
  46% {
    -webkit-transform: translate(-4px, 0) rotate(0);
            transform: translate(-4px, 0) rotate(0); }
  48% {
    -webkit-transform: translate(-7px, 0) rotate(0);
            transform: translate(-7px, 0) rotate(0); }
  50% {
    -webkit-transform: translate(4px, 0) rotate(0);
            transform: translate(4px, 0) rotate(0); }
  52% {
    -webkit-transform: translate(-5px, 0) rotate(0);
            transform: translate(-5px, 0) rotate(0); }
  54% {
    -webkit-transform: translate(-2px, 0) rotate(0);
            transform: translate(-2px, 0) rotate(0); }
  56% {
    -webkit-transform: translate(-6px, 0) rotate(0);
            transform: translate(-6px, 0) rotate(0); }
  58% {
    -webkit-transform: translate(7px, 0) rotate(0);
            transform: translate(7px, 0) rotate(0); }
  60% {
    -webkit-transform: translate(2px, 0) rotate(0);
            transform: translate(2px, 0) rotate(0); }
  62% {
    -webkit-transform: translate(10px, 0) rotate(0);
            transform: translate(10px, 0) rotate(0); }
  64% {
    -webkit-transform: translate(-7px, 0) rotate(0);
            transform: translate(-7px, 0) rotate(0); }
  66% {
    -webkit-transform: translate(-6px, 0) rotate(0);
            transform: translate(-6px, 0) rotate(0); }
  68% {
    -webkit-transform: translate(2px, 0) rotate(0);
            transform: translate(2px, 0) rotate(0); }
  70% {
    -webkit-transform: translate(2px, 0) rotate(0);
            transform: translate(2px, 0) rotate(0); }
  72% {
    -webkit-transform: translate(5px, 0) rotate(0);
            transform: translate(5px, 0) rotate(0); }
  74% {
    -webkit-transform: translate(-8px, 0) rotate(0);
            transform: translate(-8px, 0) rotate(0); }
  76% {
    -webkit-transform: translate(2px, 0) rotate(0);
            transform: translate(2px, 0) rotate(0); }
  78% {
    -webkit-transform: translate(-1px, 0) rotate(0);
            transform: translate(-1px, 0) rotate(0); }
  80% {
    -webkit-transform: translate(-8px, 0) rotate(0);
            transform: translate(-8px, 0) rotate(0); }
  82% {
    -webkit-transform: translate(3px, 0) rotate(0);
            transform: translate(3px, 0) rotate(0); }
  84% {
    -webkit-transform: translate(-8px, 0) rotate(0);
            transform: translate(-8px, 0) rotate(0); }
  86% {
    -webkit-transform: translate(6px, 0) rotate(0);
            transform: translate(6px, 0) rotate(0); }
  88% {
    -webkit-transform: translate(5px, 0) rotate(0);
            transform: translate(5px, 0) rotate(0); }
  90% {
    -webkit-transform: translate(5px, 0) rotate(0);
            transform: translate(5px, 0) rotate(0); }
  92% {
    -webkit-transform: translate(-2px, 0) rotate(0);
            transform: translate(-2px, 0) rotate(0); }
  94% {
    -webkit-transform: translate(4px, 0) rotate(0);
            transform: translate(4px, 0) rotate(0); }
  96% {
    -webkit-transform: translate(-2px, 0) rotate(0);
            transform: translate(-2px, 0) rotate(0); }
  98% {
    -webkit-transform: translate(-4px, 0) rotate(0);
            transform: translate(-4px, 0) rotate(0); }
  0%, 100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0); } }

@keyframes shake-horizontal {
  2% {
    -webkit-transform: translate(-4px, 0) rotate(0);
            transform: translate(-4px, 0) rotate(0); }
  4% {
    -webkit-transform: translate(7px, 0) rotate(0);
            transform: translate(7px, 0) rotate(0); }
  6% {
    -webkit-transform: translate(-3px, 0) rotate(0);
            transform: translate(-3px, 0) rotate(0); }
  8% {
    -webkit-transform: translate(-7px, 0) rotate(0);
            transform: translate(-7px, 0) rotate(0); }
  10% {
    -webkit-transform: translate(3px, 0) rotate(0);
            transform: translate(3px, 0) rotate(0); }
  12% {
    -webkit-transform: translate(-9px, 0) rotate(0);
            transform: translate(-9px, 0) rotate(0); }
  14% {
    -webkit-transform: translate(-1px, 0) rotate(0);
            transform: translate(-1px, 0) rotate(0); }
  16% {
    -webkit-transform: translate(7px, 0) rotate(0);
            transform: translate(7px, 0) rotate(0); }
  18% {
    -webkit-transform: translate(-3px, 0) rotate(0);
            transform: translate(-3px, 0) rotate(0); }
  20% {
    -webkit-transform: translate(10px, 0) rotate(0);
            transform: translate(10px, 0) rotate(0); }
  22% {
    -webkit-transform: translate(8px, 0) rotate(0);
            transform: translate(8px, 0) rotate(0); }
  24% {
    -webkit-transform: translate(7px, 0) rotate(0);
            transform: translate(7px, 0) rotate(0); }
  26% {
    -webkit-transform: translate(4px, 0) rotate(0);
            transform: translate(4px, 0) rotate(0); }
  28% {
    -webkit-transform: translate(7px, 0) rotate(0);
            transform: translate(7px, 0) rotate(0); }
  30% {
    -webkit-transform: translate(9px, 0) rotate(0);
            transform: translate(9px, 0) rotate(0); }
  32% {
    -webkit-transform: translate(4px, 0) rotate(0);
            transform: translate(4px, 0) rotate(0); }
  34% {
    -webkit-transform: translate(2px, 0) rotate(0);
            transform: translate(2px, 0) rotate(0); }
  36% {
    -webkit-transform: translate(-2px, 0) rotate(0);
            transform: translate(-2px, 0) rotate(0); }
  38% {
    -webkit-transform: translate(-2px, 0) rotate(0);
            transform: translate(-2px, 0) rotate(0); }
  40% {
    -webkit-transform: translate(0px, 0) rotate(0);
            transform: translate(0px, 0) rotate(0); }
  42% {
    -webkit-transform: translate(-3px, 0) rotate(0);
            transform: translate(-3px, 0) rotate(0); }
  44% {
    -webkit-transform: translate(1px, 0) rotate(0);
            transform: translate(1px, 0) rotate(0); }
  46% {
    -webkit-transform: translate(-4px, 0) rotate(0);
            transform: translate(-4px, 0) rotate(0); }
  48% {
    -webkit-transform: translate(-7px, 0) rotate(0);
            transform: translate(-7px, 0) rotate(0); }
  50% {
    -webkit-transform: translate(4px, 0) rotate(0);
            transform: translate(4px, 0) rotate(0); }
  52% {
    -webkit-transform: translate(-5px, 0) rotate(0);
            transform: translate(-5px, 0) rotate(0); }
  54% {
    -webkit-transform: translate(-2px, 0) rotate(0);
            transform: translate(-2px, 0) rotate(0); }
  56% {
    -webkit-transform: translate(-6px, 0) rotate(0);
            transform: translate(-6px, 0) rotate(0); }
  58% {
    -webkit-transform: translate(7px, 0) rotate(0);
            transform: translate(7px, 0) rotate(0); }
  60% {
    -webkit-transform: translate(2px, 0) rotate(0);
            transform: translate(2px, 0) rotate(0); }
  62% {
    -webkit-transform: translate(10px, 0) rotate(0);
            transform: translate(10px, 0) rotate(0); }
  64% {
    -webkit-transform: translate(-7px, 0) rotate(0);
            transform: translate(-7px, 0) rotate(0); }
  66% {
    -webkit-transform: translate(-6px, 0) rotate(0);
            transform: translate(-6px, 0) rotate(0); }
  68% {
    -webkit-transform: translate(2px, 0) rotate(0);
            transform: translate(2px, 0) rotate(0); }
  70% {
    -webkit-transform: translate(2px, 0) rotate(0);
            transform: translate(2px, 0) rotate(0); }
  72% {
    -webkit-transform: translate(5px, 0) rotate(0);
            transform: translate(5px, 0) rotate(0); }
  74% {
    -webkit-transform: translate(-8px, 0) rotate(0);
            transform: translate(-8px, 0) rotate(0); }
  76% {
    -webkit-transform: translate(2px, 0) rotate(0);
            transform: translate(2px, 0) rotate(0); }
  78% {
    -webkit-transform: translate(-1px, 0) rotate(0);
            transform: translate(-1px, 0) rotate(0); }
  80% {
    -webkit-transform: translate(-8px, 0) rotate(0);
            transform: translate(-8px, 0) rotate(0); }
  82% {
    -webkit-transform: translate(3px, 0) rotate(0);
            transform: translate(3px, 0) rotate(0); }
  84% {
    -webkit-transform: translate(-8px, 0) rotate(0);
            transform: translate(-8px, 0) rotate(0); }
  86% {
    -webkit-transform: translate(6px, 0) rotate(0);
            transform: translate(6px, 0) rotate(0); }
  88% {
    -webkit-transform: translate(5px, 0) rotate(0);
            transform: translate(5px, 0) rotate(0); }
  90% {
    -webkit-transform: translate(5px, 0) rotate(0);
            transform: translate(5px, 0) rotate(0); }
  92% {
    -webkit-transform: translate(-2px, 0) rotate(0);
            transform: translate(-2px, 0) rotate(0); }
  94% {
    -webkit-transform: translate(4px, 0) rotate(0);
            transform: translate(4px, 0) rotate(0); }
  96% {
    -webkit-transform: translate(-2px, 0) rotate(0);
            transform: translate(-2px, 0) rotate(0); }
  98% {
    -webkit-transform: translate(-4px, 0) rotate(0);
            transform: translate(-4px, 0) rotate(0); }
  0%, 100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0); } }

.shake-trigger:hover .shake-horizontal, .shake-horizontal.shake-freeze, .shake-horizontal.shake-constant {
  -webkit-animation-name: shake-horizontal;
          animation-name: shake-horizontal;
  -webkit-animation-duration: 100ms;
          animation-duration: 100ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media screen and (max-width: 992px) {
  .duration {
    margin: 0 0 10px 0;
  }
}

@media screen and (min-aspect-ratio: 26/11) {
  #header {
    position: relative;
    min-height: 45vw;
  }

  #rocket {
    top: 10%;
  }

  #search {
    top: 45%;
  }

  #suggestion {
    top: 55%;
  }

  #result {
    margin-top: 15%;
  }
}

@media screen and (max-width: 800px) {
  #rocket {
    width: 20vw;
    left: 40vw;
  }

  #search {
    width: 80vw;
    left: 10vw;
  }

  #suggestion {
    width: 80vw;
    left: 10vw;
  }

  #result {
    margin: 15vh 10vw 5vh 10vw;
  }
}

@media screen and (max-width: 800px) and (min-aspect-ratio: 10/7) {
  #header {
    position: relative;
    min-height: 70vw;
  }

  #rocket {
    top: 10%;
  }

  #search {
    top: 45%;
  }

  #suggestion {
    top: 55%;
  }

  #result {
    margin-top: 15%;
  }
}

@media screen and (max-width: 480px) {
  #rocket {
    width: 30vw;
    left: 35vw;
  }

  #search {
    width: 90vw;
    left: 5vw;
  }

  #suggestion {
    width: 90vw;
    left: 5vw;
  }

  #result {
    margin: 15vh 5vw 5vh 5vw;
  }
}

@media screen and (max-width: 480px) and (min-aspect-ratio: 8/9) {
  #header {
    position: relative;
    min-height: 90vw;
  }

  #rocket {
    top: 10%;
  }

  #search {
    top: 45%;
  }

  #suggestion {
    top: 55%;
  }

  #result {
    margin-top: 15%;
  }
}
